<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/details.css">
    <link rel="icon" href="/static/icon.png">
    <title>GROUPIE-TRACKER</title>
</head>
<body>
    <div class="container">
        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}} Image" />
        <h1>{{.Artist.Name}}</h1>
        <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

        <section class="Members">
            <h3>Members:</h3>
            <ul>
                {{range .Artist.Members}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </section>
        <section>
            <h3>Locations:</h3>
            <ul>
                {{range .Locations.Location}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </section>
        <section>
            <h3>Dates:</h3>
            <ul>
                {{range .Dates.Date}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </section>
        <section>
            <h3>Tour Schedule:</h3>
            {{range $city, $dates := .Relations.DatesLocations}}
            <div>
                <h4>{{ $city }}</h4>
                <ul>
                    {{range $dates}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            {{else}}
            <p>No tour dates available.</p>
            {{end}}
        </section>
    </div>
</body>
</html>