*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #E5D9F2;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    /* padding: 100% 10%; */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    
    margin:20%, 10%;
    padding: 3rem 5rem;
    max-width: 90%;
    background-color: #F5EFFF;
    border: 2px solid #F5EFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #F5EFFF;
}
h1{
    color: #A294F9;
    font-size: 72px;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 2px 2px 20px #D6C9F7;
}
p{
    color: #403b72;
    font-size: 24px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    body{
        padding: 20% 5%;
    }
    div{
        padding: 2rem 3rem;
    }
    h1{
        font-size: 48px;
    }
    p{
        font-size: 18px;
    }
    
}